atnd:
  url: https://api.atnd.org/events/?count=100&format=jsonp&callback=
  token:
  scope: 1

connpass:
  url: https://connpass.com/api/v1/event/?count=100
  token:
  scope: 1

doorkeeper:
  url: https://api.doorkeeper.jp/events
  token:
  scope: 1
