atnd:
  url: https://api.atnd.org/events/?count=100&format=jsonp&callback=
  token:

connpass:
  url: https://connpass.com/api/v1/event/?count=100
  token:

doorkeeper:
  url: https://api.doorkeeper.jp/events
  token:
