github.com:
  client_id: 87a42765a18adc939d0a
  client_secret: e0f5f11bf81b9f8878855951d0634d2a9015a21b
  endpoint:
    auth_url: https://github.com/login/oauth/authorize
    token_url: https://github.com/login/oauth/access_token
