github:
  client_id: 87a42765a18adc939d0a
  client_secret: e0f5f11bf81b9f8878855951d0634d2a9015a21b
  redirect_url:
  endpoint:
    auth_url: https://github.com/login/oauth/authorize
    token_url: https://github.com/login/oauth/access_token

facebook:
  client_id: 87a42765a18adc932d0a
  client_secret: e0f5f11bf81b9fa878855951d0634d2a9015a21b
  redirect_url: http://localhost:8080/login/
  endpoint:
    auth_url: https://www.facebook.com/dialog/oauth
    token_url: https://graph.facebook.com/oauth/access_token
